<h3><%= @restaurant.name %></h3>
<ul>
  <li><%= @restaurant.address %></li>
  <li><%= @restaurant.phone_number %></li>
  <li><%= @restaurant.category %></li>
</ul>
<%= link_to "🔙 Overview", restaurants_path %>
